#top-bar{
    border-bottom: 1px solid #ddd;
}

#menu-top .focus{
    background-color: var(--blue);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}
#menu-top .focus:hover{
    background-color: var(--darkblue);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    
}

.menu-sm{
    display: none;
}

.border-bottom{
    border-bottom: 1px solid #ddd;
}

.border-bottom-lg{
    border-bottom: 2px solid #ddd;
}

#students{
    padding: 50px 0px;
    text-align: center;
}
#students img{
    width: 100%;
}

.slogan{
    min-height: 300px;
    max-width: 100%;
}

#modal #logo{
    text-align: center;
}

#modal #logo img{
    width: 130px;
}

#menu-mais{
    top: 100px;
    right: 0;
    z-index: 500;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    display: none;
}

.item-menu-mais:hover{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 5px white;

}
.item-menu-mais{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.item-menu-mais i.fa{
    transition: none !important;
}

@media (max-width: 578px){
    .menu-lg{
        display: none !important;
    }
    #modal{
        height: 100vh;
        width: 100%;
    }
    #modal #logo img{
        width: 160px;
    }
    .close-modal{
        font-size: 130%;
    }
    #space-student input, #space-student button{
        font-size: 1.4rem;
    }
    .slogan{
        min-height: 200px;
        font-size: 3rem !important;
        line-height: 40px !important;
    }
    .menu-sm{
        display: flex;
    }

    #menu-mais{
        width: 100%;
        padding: 30px !important;
        top: 0;
        height: 100%;
    }

}

@media (min-width: 578px){
    #menu-sm{
        display: none;
    }
}