#quem-somos{
    background: url('../../assets/imgs/bg-qm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#h1-title-qm-somos{
    letter-spacing: -4px;
}

#desc-quem-somos{
    line-height: 30px;
}


.title-xlg{
    font-size:1000%;
    letter-spacing: -20px;
    margin: 0 !important;
    line-height: 150px;

}

.text-sm{
    font-size: 60%;
    letter-spacing: -10px;
}

.text-xlg{
    line-height: 20px;
    font-size: 150%;
}

#alunos-cert{
    margin-top: -45px;
}

@media (max-width: 578px){
    .text-sm{
        font-size: 35%;
    }
    #count{
        margin-left: -15px !important
    }
}

